In [1]:
import pandas as pd
from molmass import Formula

In [2]:
formula = input('indicate formula bruta of the molecule: ')
form = Formula(formula)
MW = form.isotope.mass

indicate formula bruta of the molecule: C39H59D8N5O7

In [3]:
#define list of possible molecular ion [e.g. Na+ - K+ - 2M+H+ -etc... ]
h_weigh=1.007276
molecular_ion = (MW + h_weigh)
bi_charge = round(((molecular_ion + h_weigh)/2),5)
tri_charge = round(((molecular_ion + 2*h_weigh)/3),5) 
search = [molecular_ion,bi_charge,tri_charge]
bi_charge = round(((molecular_ion - h_weigh)/2),5)
tri_charge = round(((molecular_ion - 2*h_weigh)/3),5) 
search_neg = [molecular_ion, bi_charge, tri_charge]

In [ ]:
name = input ('name of the molecule: ')

In [70]:
name = 'MMAE-D8'
name2 = [name]
peaks = pd.DataFrame()
peaks[name] = name2 + search + search_neg
peaks[''] = ['Compound','[M+H]+','[M+2H]2+','[M+3H]3+','[M-H]-','[M-2H]2-','[M-3H]3-']
peaks = peaks.set_index('')
cols = list(peaks)
cols.insert(1,cols.pop(cols.index(name)))
peaks = peaks.loc[:,cols]
peaks
peaks.T

        Compound   [M+H]+ [M+2H]2+ [M+3H]3+   [M-H]- [M-2H]2- [M-3H]3-
MMAE-D8  MMAE-D8  726.562  363.784  242.859  726.562  362.777  241.516

In [77]:
df = pd.read_csv('test.csv')

In [78]:
df = df.append(peaks.T, ignore_index = True)
df

  Compound   [M+H]+ [M+2H]2+ [M+3H]3+   [M-H]- [M-2H]2- [M-3H]3-
0  MMAE-D8  726.562  363.784  242.859  726.562  362.777  241.516

In [79]:
df.to_csv('test1.csv', index = False)